<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content">
	<!-- html 주석 -->
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>이름</th>
				<th>전화</th>
				<th>주소</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${dbList}">
				<td th:text="${pStat.count}"></td>
				<td>
					<a th:href="@{/showPersonDetail/{seq}(seq=${p.seq})}" 
						th:text="${p.name}"></a>
				</td>
				<td th:text="${p.tel}"></td>
				<td th:text="${p.addr}"></td>
			</tr>
		</tbody>
	</table><br>
	<button class="btn btn-primary" th:onclick="|location.href='@{/insPerForm}'|">데이터 추가</button>
	<a th:href="@{/insPerForm}">데이터 추가</a>
	</section>
</body>
</html>