<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8" />
	<title>Autumn Brew - Home</title>
</head>

<body>
	<section layout:fragment="content">
		<section class="index-hero">
			
			<h1>카페빈 커피전문점에 오신것을 환영합니다.</h1>
			<p>Freshly brewed coffee, every day.</p>
			
		</section>
		<section class="index-hero2 ">
		  <div class="hero-row">
		    <div class="hero-text">
		      <h1>오늘의 Special Tea</h1>
		      <p>홍차, 과일, 초콜릿향이 어우러진 AA급 원두 사용</p>
		    </div>
		    <img class="photo" src="/images/coffee_bag.png" alt="ethiopia coffee" />
		  </div>
		</section>
		<section class="index-hero3">
		
		
		</section>
	</section>
</body>

</html>